<!DOCTYPE html>
<html>
<head>
  <title>Exir</title>
  <%= stylesheet_link_tag    "exir/application", media: "all" %>
  <%= javascript_include_tag "exir/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
